.index-wrapper{
    max-width: 800px;
    padding: 0 30px;
}

.index-search{
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-title{
    font-size: calc(2rem + 1.8vw);
    font-weight: 600;
    user-select: none;
}

.index-input-block{
    display: block;
    width: 100%;
    position: relative;
}

.index-icon{
    position: absolute;
    top: 13px;
    left: 15px;
}

.index-search-input{
    font-size: 18px;

    border-radius: 30px;

    padding: 10px 20px 10px 45px;

    transition: border-radius 0 ease-out 0s;
}

.search-realtime-result{
    display: none;
    position: absolute;
    top: 49px;
    width: 100%;
}


.search-reatime-result-link{
    padding: 10px 20px;
    /* background: var(--m-border); */
    border: solid 1px var(--m-border);
    border-top: 0;
    display: block;
    width: 100%;
    transition-duration: .3s;
    color: #000;
}

.search-reatime-result-link:hover{
    background: #f0f0f0;
    color: #000;
}

.search-realtime-result-container:hover{
    border-color: var(--m-border-active);
}

.search-reatime-result-link:last-child{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}