*{
    margin: 0;
    padding: 0;
    user-select: 0;
    box-sizing: border-box;
    font-weight: 400; /* Regular */
    font-family: var(--m-font-primary);
}

a:not(header a){
    color: var(--m-violet);
    font-weight: 600; /* Bold */
    text-decoration: none;
}

a:hover:not(header a){
    color: var(--m-violet-active);
}

a.no-link{
    color: #000;
    text-decoration: none;
    font-weight: 400; /* Regular */
}
a.no-link:hover{
    color: #000;
    text-decoration: none;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 15px;
}
.form-wrapper{
    max-width: 800px;
    padding: 30px;
}
.error{
    color: red;
    font-weight: 600;
    font-size: 24px;
}
.shop-block{
    margin: 10px 0;
}
.form-error{
    color: red;
    font-weight: 600;
    font-size: 18px;

    width: 100%;

    text-align: center;
}