@import "../../styles/vars.scss";

.header {
    box-shadow: 0 0 3px 1px $color--gray_medium;

    *:not(button) {
        color: $color--black_light;
    }

    *:hover,
    *:active,
    *:focus {
        text-decoration: none;
    }

    .header__brand > * {
        font-family: $font_family--secondary !important;
    }
}

.header__autocomplete--wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 99%;
    width: 100%;
    background-color: $color--white;
    box-shadow: 0 0 1px 1px $color--gray_medium;
    padding: 5px 0;
    z-index: 99;
    border-radius: $border--radius--main;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .header__autocomplete--item{
        padding: 5px 10px;
        width: 100%;

        &:hover{
            background: $color--gray_light;
        }
    }
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

    &.header__top--row {
        gap: 25px;
    }
}

.header__search--group {
    display: flex;
    gap: 10px;
    position: relative;
    width: 100%;

    .header__search--input {
        padding: 10px 15px;
        padding-right: 70px;
        border: 2px solid $color--red--normal;
        border-radius: $border--radius--main;
        width: 100%;
        min-width: 400px;
    }

    button {
        position: absolute;
        right: 0;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        * {
            color: $color--gray_light;
        }

        &:hover,
        &:active {
            background-color: $color--red--normal !important;
        }
    }
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;

    .header__nav--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > span {
            font-size: 14px;
        }
    }
}
