:root {
    --admin-blue: #5DADDC;
    --admin-gray: #3d4447;
    --admin-light: #DADADA;
}

@import "./general/variables.scss";

.wrapper-admin {
    max-width: 100%;
    padding: 0;
    position: relative;
}

.admin-container {
    // display: grid;
    // grid-template-columns: 300px calc(100% - 300px);
    display: flex;
}

.admin-hr {
    padding: 0;
    margin: 5px 0;
}

/* ADMIN SIDE BLOCK */

.admin-side {
    max-width: 300px;
    height: calc(100vh - var(--header-height));

    padding: 10px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    /* background-color: rgba(255, 255, 255, 0.1);   */

    border-right: solid 1px var(--admin-light);

    height: 100%;
}

.admin-side-item {
    width: 100%;
    padding: 8px 20px;
    display: block;

    // color: var(--admin-gray) !important;
    font-weight: 400;


    border-radius: 4px;

    transition-duration: .1s;
}

.admin-side-item:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    cursor: pointer;
}

.admin-side-item-active {
    border: solid 5px var(--admin-blue);
    border-width: 1px;
    border-left-width: 5px;
    color: var(--admin-blue) !important;
}

.admin-side-item-secondary {
    margin-left: 15px;
    margin-right: 15px;
}

.admin-side-title {
    font-size: 24px;
    font-weight: 500;
}

/* ADMIN HEADER */

.admin-header {
    background: #fff;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 1px var(--admin-light);
}

.admin-sidebar-collapse {
    display: flex;

    &:hover {
        cursor: pointer;
    }
}

.admin-header-item-user {
    display: flex;
}

.admin-header-item-icon {
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.admin-header-item-user-info {
    display: flex;
    flex-direction: column;

    color: #000;
}

/* ADMIN CONTENT */

.admin-right {
    height: calc(100vh - var(--header-height));
    background: #F2F2F2;
    width: 100%;
}

.admin-content {
    padding: 15px;
}