@import "./general/variables.scss";

.form-wrapper {
    max-width: 600px !important;
}

.form {
    padding: 50px 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px $border;
    background: #fff;
}

.form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-block {
    position: relative;
    margin: 6px 0;
    display: inline-block;
}

.form-block>.rs-icon {
    position: absolute;
    bottom: 37%;
    left: 7px;
}

.form-title {
    margin-bottom: 30px;
}

.form-form-input,
.form-form-input:hover,
.form-form-input:active,
.form-form-input:focus {
    padding: 10px 40px 10px 25px !important;
    border: none !important;
    border-bottom: 1px solid $border !important;
    border-radius: 0 !important;
}

.form-block>.rs-icon {
    position: absolute;
    top: 14px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.form-after::after{*/
/*    position: absolute;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    */

/*    width: 24px;*/
/*    height: 24px;*/

/*    top: 24%;*/
/*    right: 15px;*/

/*    z-index: 5;*/
/*}*/

/*.form-input-wrong::after{*/
/*    content: url(/client/source/icon/x.svg);*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/
.form-input-wrong>input,
.form-input-wrong>input:hover,
.form-input-wrong>input:focus,
.form-input-wrong>input:active {
    border-color: $red !important;
}

/*.form-input-correct::after{*/
/*    content: url(/client/source/icon/check.svg);*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/
.form-input-correct>input,
.form-input-correct>input:hover,
.form-input-correct>input:focus,
.form-input-correct>input:active {
    border-color: green !important;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-top: 10px;
}

@media (max-width: 425px) {
    .form-flex {
        flex-direction: column;
    }
}

.btn-form,
.btn-form:hover,
.btn-form:active,
.btn-form:focus {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 10px 0 !important;

    border-radius: 30px !important;
}

.form-tip {
    display: flex;
    justify-content: center;
}

.error-form {
    position: relative;
    padding: 10px 20px;

    border-left: 5px solid red;

    box-shadow: 0 0 2px $border;
    font-size: 16px;
}

.error-form-close {
    position: absolute !important;
    right: 10px !important;
    /* top: 10px !important; */
    display: block;
}

.error-form-close:hover {
    cursor: pointer;
}

.form-label {
    margin-left: 25px;
    margin-bottom: 0 !important;
}

.form-gender-block>.form-check {
    padding-left: 5px;
}


.form-gender-block {
    display: flex !important;
    align-items: center !important;
    font-size: 16px;
}

.form-gender-block>* {
    display: flex;
}