@import "./general/variables.scss";

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $black;

    div {
        display: flex;
        justify-content: center;

        z-index: 2;
    }

    div a {
        color: #bababa;
    }

    .header-nav {
        a {

            &:hover,
            &:active,
            &:focus {
                text-decoration: none !important;
                color: #fff;
            }
        }

        .header-item {
            a.active-header {

                &,
                &:active,
                &:focus,
                &:hover {
                    color: $orange !important;
                }
            }
        }
    }
}


.header-top-title a {
    font-size: 36px;
    font-weight: 500;
    color: #fff !important;
    text-decoration: none;
}

.header-item {
    margin: 0 10px;
    margin-bottom: 10px;
}

.header-dropdown {
    .rs-btn {
        padding: 0 12px 0 0 !important;
        margin: 0 !important;
        transition-duration: 0s;

        &:hover,
        &:active,
        &:hover:active,
        &:focus,
        &:target {
            background: transparent;
            color: #f0f0f0;
        }
    }

    .rs-dropdown-toggle-caret {
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
    }
}

.rs-dropdown-item-content {

    &:hover,
    &:active,
    &:focus {
        color: #575757 !important;
        background: #f0f0f0;
    }
}

.rs-icon {
    width: 18px !important;
}

.rs-dropdown-item a {

    &,
    &:hover,
    &:active,
    &:focus {
        color: #575757 !important;
    }
}

// Responsible styles

.header.header-collapse.header-show {
    .header-top-title {
        margin-bottom: 10px;
    }
}

.header.header-collapse {
    padding: 10px 20px;

    $header-height: 57px;

    .header-top-title {
        width: 100%;
        justify-content: space-between;

        a {
            font-size: 26px !important;
        }
    }

    .header-nav {
        width: 100%;
        display: flex !important;
        flex-direction: column !important;

        .header-item {
            .rs-icon {
                font-size: 20px !important;
                width: 20px !important;
            }
        }
    }
}

.header.header-collapse:not(.header-show) {
    .header-nav {
        display: none !important;
    }
}

.header-dropdown-item {
    display: block;

    width: 100% !important;
    padding: 5px 13px !important;

    transition-duration: .4s;

    color: #575757 !important;

    &:hover,
    &:active,
    &:focus {
        background: #f0f0f0 !important;
        // color: #575757 !important;
    }

    i {
        margin-right: 5px;
    }
}