@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "./general/variables.scss";

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    font-weight: 400;
    font-family: $font-primary !important;
    // font-family: 'Inter', sans-serif !important;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
    background: rgb(219, 219, 219);
}

body::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 20px;
}


.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 15px;
}

.form-wrapper {
    max-width: 800px;
    padding: 30px;
}

.error {
    color: red;
    font-weight: 600;
    font-size: 24px;
}

.paragraph {
    margin: 15px 0;
}