@import "./general/variables.scss";

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    font-weight: 400;
    font-family: $font-primary !important;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 15px;
}

.form-wrapper {
    max-width: 800px;
    padding: 30px;
}

.error {
    color: red;
    font-weight: 600;
    font-size: 24px;
}