<%- include('../layouts/header') %>

<div class="wrapper">
    <h1>Некоторый текст здесь</h1>

    <button class="btn btn-red">Красный</button>
    <button class="btn btn-outline-red">Красный</button>
    <br>
    <button class="btn btn-orange">Оранжевый</button>
    <button class="btn btn-outline-orange">Оранжевый</button>
    <br>
    <button class="btn btn-green">Зелёный</button>
    <button class="btn btn-outline-green">Зелёный</button>
    <br>
    <button class="btn btn-blue">Синий</button>
    <button class="btn btn-outline-blue">Синий</button>
    <br>
    <button class="btn btn-violet">Фиолетовый</button>
    <button class="btn btn-outline-violet">Фиолетовый</button>
    <br>
    <br>
    <input type="text" class="form-input">
    <br>
    <textarea class="form-input"></textarea>

</div>

<%- include("../layouts/bottom") %> 