@import "../../styles/vars.scss";

.product-page__wrapper {
    display: grid;
    grid-template-columns: 300px auto 350px;
    gap: 10px;
    margin-top: 20px;

    .product-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .product-title {
            font-size: 30px;
            font-weight: 600;
            color: $color--black_dark;
        }

        .product-price {
            font-size: 36px;
            font-weight: 600;
            color: $color--black_dark;
        }
    }

    .product-picture {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .product-colors-wrapper {
        display: flex;
        gap: 5px;

        .product-colors-item {
            border: 2px solid $color--black_light;
            border-radius: 10px;
            width: 50px;
            height: 50px;

            &:hover {
                cursor: pointer;
            }

            &.active {
                border-color: $color--red--normal;
            }
        }
    }

    .product-property-wrapper {
        .product-property-item {
            display: flex;
            gap: 3px;
            justify-content: space-between;
        }
    }

    .product-buttons {
        display: flex;
        gap: 5px;

        .product-button {
            padding: 10px 20px;
            border-radius: 30px;
            background-color: $color--white;
            color: $color--black_medium;
            border: 2px solid $color--black_medium;
            font-weight: 600;

            &.product-tocart-button {
                border-color: $color--red--normal;
                transition: all 0.2s ease-in;

                &:hover {
                    background-color: $color--red--normal;
                    color: $color--white;
                }
            }

            &.product-buy-button {
                border-color: $color--green--normal;

                &:hover {
                    background-color: $color--green--normal;
                    color: $color--white;
                }
            }
        }
    }
}
