<%- include('../layouts/header') %>

<link rel="stylesheet" href="/client/source/css/form.css">

<div class="wrapper form-wrapper">

</div>

<script type="text/babel" src="/client/components/LoginPage.js"></script>
<script type="text/babel">
    ReactDOM.render((<LoginPage/>), document.querySelector('.form-wrapper'));
</script>

<%- include("../layouts/bottom") %> 