/* Colors */
$red: #EB4C42;
$red-active: #db4136;
$orange: #F6781D;
$orange-active: #e7701b;
$blue: #3E75EC;
$blue-active: #386ddd;
$yellow: #FFCC00;
$yellow-active: #F5C400;
$green: #4CAF50;
$green-active: #46a149;
$violet: #7E22CE;
$violet-active: #721fbb;
$gray: #d0d0d0;
$light: #fafafa;
$black: #0A0E13;

$border: #ced4da;
$border-light: #F0F2F4;
$border-active: #798da0;
$border-active-dark: #6e8192;

/* Fonts */
$font-primary: 'Rubik',
sans-serif;


$header-height: 82px;