/* Colors */
$red: #EB4C42;
/* $red: #D62915; */
$red-active: #db4136;
$orange: #f68300;
$orange-active: #df7700;
$blue: #238FC5;
$blue-active: #1c83b6;
$yellow: #EBB701;
$yellow-active: #d8a900;
$green: #4CAF50;
$green-active: #46a149;
$violet: #531BA8;
$violet-active: #432482;
$gray: #d0d0d0;
$light: #fafafa;
$black: #0A0E13;

$border: #ced4da;
$border-light: #F0F2F4;
$border-active: #798da0;

/* Fonts */
$font-primary: 'Rubik',
sans-serif;

// 

$header-height: 82px;