/* Colors */
$red: #eb4c42;
$red-active: #db4136;
$orange: #f6781d;
$orange-active: #e7701b;
$blue: #3e75ec;
$blue-active: #386ddd;
$yellow: #ffcc00;
$yellow-active: #f5c400;
$green: #4caf50;
$green-active: #46a149;
$violet: #7e22ce;
$violet-active: #721fbb;
$gray: #d0d0d0;
$light: #fafafa;
$black: #0a0e13;

$border: #ced4da;
$border-light: #f0f2f4;
$border-active: #798da0;
$border-active-dark: #6e8192;

/* Fonts */
$font-primary: "Rubik", sans-serif;

$header-height: 82px;
