header{
    width: 100%;
    background: var(--m-black);
}

header > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a{
    color: rgb(190, 190, 190);
    text-decoration: none;
}

header a:hover{
    color: #f0f0f0;
}

.header-hav{
    display: flex;
}

.header-item{
    margin: 0 10px 10px 10px;
}
.header-item > a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-title{
    font-size: 36px;
}

.header-top-title a{
    color: #fff !important;
    font-weight: 600;
}

.active-header{
    /* color: #50C878 !important; */
    color: var(--m-orange) !important;
    /* font-weight: 600; */
}

.nav-toggler{
    display: none;
    margin-left: auto;
}
.nav-toggler:focus{
    outline: none !important;
}
.navbar-toggler-icon{
    background-image: url(/client/public/icon/menu.svg);
    outline: none !important;
}
.dropdown-item{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

@media(max-width: 425px){
    .header-hav{
        flex-direction: column;
        align-items:flex-start;
    }
}