/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Colors */
    --m-red: #EB4C42;
    --m-red-active: #db4136;
    --m-orange: #f68300;
    --m-orange-active: #df7700;
    --m-blue: #238FC5;
    --m-blue-active: #1c83b6;
    --m-yellow: #EBB701;
    --m-yellow-active: #d8a900;
    --m-green: #50C878;
    --m-green-active: #40bb69;
    --m-violet: #8A2BE2;
    --m-violet-active: #7C20D3;
    --m-gray: #d0d0d0;
    --m-light: #fafafa;
    --m-black: #0A0E13;

    --m-border: #ced4da;
    --m-border-light: #F0F2F4;
    --m-border-active: #798da0;



    /* Fonts */
    --m-font-primary: 'Rubik', sans-serif;
}

/* Buttons */

    .btn{
        font-weight: 500; /* Bold */
        font-family: var(--m-font-primary);
        border: solid 2px #fff;
        margin-right: 5px;
    }
    .btn:hover,
    .btn:focus,
    .btn-active{
        outline: none;
        box-shadow: none;
    }

/* Red button styles */

    .btn-red{
        color: #fff;
        background: var(--m-red);
        border-color: var(--m-red);
    }
    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active{
        color: #fff;
        background: var(--m-red-active);
        border-color: var(--m-red-active);
    }
    .btn-outline-red{
        color: #000;
        background-color: #fff;
        border: solid 2px var(--m-red);
    }
    .btn-outline-red:hover,
    .btn-outline-red:focus,
    .btn-outline-red:active{
        color: #fff;
        background-color: var(--m-red-active);
        border-color: var(--m-red-active);
    }

/* Orange button styles */

    .btn-orange{
        color: #fff;
        background: var(--m-orange);
        border-color: var(--m-orange);
    }
    .btn-orange:hover,
    .btn-orange:focus,
    .btn-orange:active{
        color: #fff;
        background: var(--m-orange-active);
        border-color: var(--m-orange-active);
        outline: none;
        box-shadow: none;
    }
    .btn-outline-orange{
        color: #000;
        background-color: #fff;
        border: solid 2px var(--m-orange);
    }
    .btn-outline-orange:hover,
    .btn-outline-orange:focus,
    .btn-outline-orange:active{
        color: #fff;
        background-color: var(--m-orange-active);
        border-color: var(--m-orange-active);
    }

/* Yellow button styles */

    .btn-yellow{
        color: #fff;
        background: var(--m-yellow);
        border-color: var(--m-yellow);
    }
    .btn-yellow:hover,
    .btn-yellow:focus,
    .btn-yellow:active{
        color: #fff;
        background: var(--m-yellow-active);
        border-color: var(--m-yellow-active);
        outline: none;
        box-shadow: none;
    }
    .btn-outline-yellow{
        color: #000;
        background-color: #fff;
        border: solid 2px var(--m-yellow);
    }
    .btn-outline-yellow:hover,
    .btn-outline-yellow:focus,
    .btn-outline-yellow:active{
        color: #fff;
        background-color: var(--m-yellow-active);
        border-color: var(--m-yellow-active);
    }

/* Green button styles */

    .btn-green{
        color: #fff;
        background: var(--m-green);
        border-color: var(--m-green);
    }
    .btn-green:hover,
    .btn-green:focus,
    .btn-green:active{
        color: #fff;
        background: var(--m-green-active);
        border-color: var(--m-green-active);
        outline: none;
        box-shadow: none;
    }
    .btn-outline-green{
        color: #000;
        background-color: #fff;
        border: solid 2px var(--m-green);
    }
    .btn-outline-green:hover,
    .btn-outline-green:focus,
    .btn-outline-green:active{
        color: #fff;
        background-color: var(--m-green-active);
        border-color: var(--m-green-active);
    }

/* Blue button styles */

    .btn-blue{
        color: #fff;
        background: var(--m-blue);
        border-color: var(--m-blue);
    }
    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active{
        color: #fff;
        background: var(--m-blue-active);
        border-color: var(--m-blue-active);
        outline: none;
        box-shadow: none;
    }
    .btn-outline-blue{
        color: #000;
        background-color: #fff;
        border: solid 2px var(--m-blue);
    }
    .btn-outline-blue:hover,
    .btn-outline-blue:focus,
    .btn-outline-blue:active{
        color: #fff;
        background-color: var(--m-blue-active);
        border-color: var(--m-blue-active);
    }

/* Violet button styles */

    .btn-violet{
        color: #fff;
        background: var(--m-violet);
        border-color: var(--m-violet);
    }
    .btn-violet:hover,
    .btn-violet:focus,
    .btn-violet:active{
        color: #fff;
        background: var(--m-violet-active);
        border-color: var(--m-violet-active);
        outline: none;
        box-shadow: none;
    }
    .btn-outline-violet{
        color: #000;
        background-color: #fff;
        border: solid 2px var(--m-violet);
    }
    .btn-outline-violet:hover,
    .btn-outline-violet:focus,
    .btn-outline-violet:active{
        color: #fff;
        background-color: var(--m-violet-active);
        border-color: var(--m-violet-active);
    }
/* Button white */
    .btn-white{
        border: solid 2px var(--m-gray);
    }
    .btn-white:hover,
    .btn-white:focus,
    .btn-white:active{
        border-color: var(--m-red);
    }

    .btn-active{
        border-color: var(--m-red);
    }

/* Button forms and sizes */

    .btn-big{
        padding: 15px 30px;
    }
    .btn-round{
        border-radius: 30px;
    }
    .btn-square{
        margin: 10px;
    }

/* Inputs */
    input{
        color: #212529;
        background-color: #fff;
        font-family: var(--m-font-primary);
        font-weight: 400;
        font-size: 1rem;
    }

    .form-input{
        color: #212529;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        line-height: 1.5;
        border: 1px solid var(--m-border);
        border-radius: 3px;
        transition-duration: .2s;
    }
    .form-input:hover,
    .form-input:focus,
    .form-input:active{
        outline: none;
        border-color: var(--m-border-active);
    }

    .noresize{
        resize: none;
    }

/* Icons */

    .icon{
        height: 20px;
        width: 20px;
        display: flex;
        background: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        stroke: #fff;

        padding: 0;
        margin: 0 5px 0 0;
        object-fit: contain;
        object-position: center;
    }
    .icon-home{
        background: url(/client/source/icon/home.svg);
    }
    .icon-shop{
        background: url(/client/source/icon/shopping-cart.svg);
    }
    .icon-user{
        background: url(/client/source/icon/user.svg);
    }
    .icon-user-dark{
        background: url(/client/source/icon/user-dark.svg);
    }
    .icon-key{
        background: url(/client/source/icon/key.svg);
    }
    .icon-userAdd{
        background: url(/client/source/icon/user-plus.svg);
    }
    .icon-star{
        background: url(/client/source/icon/star.svg);
    }
    .icon-star-filled{
        background: url(/client/source/icon/star-filled.svg);
    }
    .icon-search{
        background: url(/client/source/icon/search.svg);
    }
    .icon-login{
        background: url(/client/source/icon/log-in.svg);
    }
    .icon-logout{
        background: url(/client/source/icon/log-out.svg);
    }
    .icon-bag{
        background: url(/client/source/icon/bag-outline.svg);
    }
    .icon-settings{
        background: url(/client/source/icon/settings.svg);
    }
    .icon-lock{
        background: url(/client/source/icon/lock.svg);
    }
    .icon-x{
        background: url(/client/source/icon/x.svg);
    }

/* Staff */

    /* Переделать margin!!! */
    .margin-5{
        height: 5px;
    }
    .margin-10{
        height: 10px;
    }
    .margin-15{
        height: 15px;
    }
    .margin-20{
        height: 20px;
    }
    .margin-25{
        height: 25px;
    }
    .margin-30{
        height: 30px;
    }

    .vertical{
        display: block;
        width: 1px;
        height: 24px;
        background: var(--m-gray);
        margin: 0 5px;
    }
    .block{
        display: block;
        margin: 0;
    }