@import "../../styles/general/vars.scss";

$indexHeaderHeight: 55px;

$color1: #f1f7fc;
$color2: #f9f4f4;
$color3: #f6f6f6;
$color4: #fcf4f0;

.index-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

// Category sidebar
.index__left-bar {
    margin-top: $indexHeaderHeight;
    min-width: 150px;
}

.index__main-content {
    display: block;
    width: 100%;

    .index__block {
        border-radius: 30px;
        background-color: rgb(240, 240, 240);
        width: 100%;
        height: 300px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            text-decoration: none;
        }

        .index__block-content {
            .index__block__title {
                font-size: 36px;
                font-weight: 600;
            }
            .index__block__text {
                font-size: 18px;
                font-weight: 600;
                color: $black-1;
            }
        }

        .index__block-image {
            display: block;
            position: relative;
            max-width: 50%;
            display: flex;
            justify-content: center;

            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        &.index__small-block {
            padding: auto 45px;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        &.block-vertical {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 100%;
            height: auto;
            min-height: 300px;
            position: relative;
            padding: 20px 10px;

            .index__block-image {
                height: 100%;
                width: 100%;

                max-width: 100%;
                max-height: 300px;

                img {
                    object-fit: contain;
                }
            }
            .index__block-content {
                order: 2;
            }
        }
    }

    .index__ads {
        display: flex;
        gap: 20px;

        .index__block.index__block-ads {
            color: $black-3;
            padding: 30px;
            max-width: 70%;

            & > .index__block-content {
                max-width: 300px;
            }
            & > .index__block-image {
                max-width: 40%;

                img {
                    width: 100%;
                }
            }
        }

        .index__ads__small-block {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .index__block {
                height: 50%;
            }
        }
    }

    .index__trending {
        margin-top: 30px;

        .index__trending__title {
            margin: 10px 0;
        }
        .index__trending__container {
            display: flex;
            gap: 20px;
        }
    }
}

.background-grad1 {
    background: linear-gradient(135deg, rgba(246, 120, 29, 0.8) 0%, rgba(255, 208, 76, 0.8) 68%);
}

.background-grad2 {
    background: linear-gradient(135deg, rgba(248, 108, 175, 1) 0%, rgba(123, 102, 251, 1) 69%);

    &,
    &:hover {
        color: $white-1;
    }
}

.background-grad3 {
    background: linear-gradient(135deg, rgba(110, 222, 245, 1) 0%, rgba(101, 89, 241, 1) 69%);

    &,
    &:hover {
        color: $white-1;
    }
}
