@import "./general/vars.scss";

.form-wrapper {
    max-width: 600px !important;
}

.form {
    padding: 50px 30px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px $gray-3;
    background: #fff;
}

.form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-block {
    position: relative;
    margin: 6px 0;
    display: inline-block;
}

.form-block > .rs-icon {
    position: absolute;
    bottom: 37%;
    left: 7px;
}

.form-title {
    margin-bottom: 30px;
}

.form-form-input,
.form-form-input:hover,
.form-form-input:active,
.form-form-input:focus {
    padding: 10px 40px 10px 25px !important;
    border: none !important;
    border-bottom: 1px solid $gray-2 !important;
    border-radius: 0 !important;
}

.form-block > .rs-icon {
    position: absolute;
    top: 14px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-top: 10px;
}

@media (max-width: 425px) {
    .form-flex {
        flex-direction: column;
    }
}

.btn-form,
.btn-form:hover,
.btn-form:active,
.btn-form:focus {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 10px 0 !important;

    border-radius: 30px !important;
}

.form-tip {
    display: flex;
    justify-content: center;
}

.form-label {
    margin-left: 25px;
    margin-bottom: 0 !important;
}

.form-gender-block > .form-check {
    padding-left: 5px;
}

.form-gender-block {
    display: flex !important;
    align-items: center !important;
    font-size: 16px;
}

.form-gender-block > * {
    display: flex;
}
